<ion-content color="primary">
  <div style="text-align: center">
    <h3>Inicia sesion con tus rostro</h3>
  </div>
  <div
    id="cameraContainer"
    class="cameraContainer"
    [style]="divVideoStyle"
  ></div>
  <div [style]="divButtonsStyle">
    <ion-button  style="width: 100%;" (click)="signInWithDataAlert()"><ion-icon name="log-in-outline" ></ion-icon>  Iniciar sesion con datos</ion-button>
    <ion-button  color="success" style="width: 100%;"><ion-icon name="person-add-outline"></ion-icon>  Registrarse</ion-button>
  </div>
</ion-content>
